* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #37b6f6;
  min-height: 100vh;
  display: flex; /* o display flex com o justify-content e align-items, o body centraliza todos os elementos filhos ao centro da pagina */
  justify-content: center;
  align-items: center;
}
.login-container {
  background-color: #882ff6;
  color: white;
  height: 600px;
  width: 400px;
  border-radius: 25px;
  padding: 20px;
}

#Quiz-0{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-style: bold;
}

#login-h2{
    font-size: 30px;
}

.top-input-text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.input-area {
  border-radius: 25px;
  height: 30px;
  padding: 5px;
  width: 200px;
  border: none;
}

.logo-img {
  width: 20px;
}
