* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-style: bold;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

body {
  background-color: #37b6f6;
  min-height: 100vh;
  display: flex;
  /* o display flex com o justify-content e align-items, o body centraliza todos os elementos filhos ao centro da pagina */
  justify-content: center;
  align-items: center;
}

.sign-in-box {
  background-color: #6921d2;
  color: white;
  border-radius: 20px;
  padding: 20px;
  width: clamp(300px, 500px, 700px);
  margin: 25px;
}

#box-title {
  text-align: center;
  font-size: clamp(20px, 45px, 50px);
  font-style: bold;
}

#cadastro-h2 {
  font-size: 2rem;
}

.label-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  display: block;
}

.input-area {
  border-radius: 20px;
  height: 2.4rem;
  padding: 5px;
  width: 100%;
  border: none;
  display: block;
  ;
}

.cadastro-button {
  background-color: #f99d07;
  color: #6921d2;
  border: none;
  border-radius: 20px;
  padding: 8px;
  width: 100%;
  font-size: 1.1rem;
  cursor: pointer;
  /* Adiciona o cursor pointer no botao para indicar que é clicável */
  margin-top: 1.5rem;
}